
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
	padding-top: 50px;
height: 100%;
font-family: 'Numans', sans-serif;
/*background-color: black;*/

}

#fondoImagen1{
  background-image: url('../img/fondo5.jpg');
}

.container2{
  margin-top: -210px;
}

#icon{
	padding-top: 2.5%;
	position: relative;
}

.verde{
	margin-top: 2%;
	background-color: green;
	border-radius: 10px;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.gris{
	margin-top: 2%;
	background-color: grey;
	border-radius: 10px;
	margin-left: -1%;
}

.rojo{
	margin-top: 2%;
	background-color: red;
	border-radius: 10px;
}

.azul{
	background-color: blue;
  border-radius: 10px;
}

#container {
  position: relative;
  width: 50%;
}

.image {

  border-radius: 50%;
  margin-top: 4%;

  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  border-radius: 10px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#container:hover .image {
  opacity: 0.3;
}

#container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*///////////////////////*/

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFF800;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3, .links, .remember{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFF800;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFF800;
width: 120px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links a{
margin-left: 4px;
}

.img-fluid:hover{
	transform: scale(1.008,1.008);	
}

