
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  padding-top: 50px;
  height: 100%;
  font-family: 'Numans', sans-serif;
  /*background-color: black;*/

}

h3 {
  font-family: "Latin Modern Roman 10";
  font-weight: bold; 
}

h4, p {
  color: black; 
}

#perfil {
  text-align: left !important;
  padding-left: 5%;
}

#fondoImagen1{
  background-image: url('../img/fondo55.jpg');
}

.container2{
  margin-top: -210px;
}

#icon{
	padding-top: 2.5%;
	position: relative;
}

.amarillo{
	margin-top: 2%;
	background-color: rgba(255, 248, 0,0.7);
	border-radius: 10px;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.gris{
	margin-top: 2%;
	background-color: rgba(105, 105, 105,0.7);
	border-radius: 10px;
	margin-left: -1%;
}

.rojo{
	margin-top: 2%;
	background-color: rgba(255, 0, 0,0.7);
	border-radius: 10px;
}

.verde{
  margin-top: 2%;
  background-color: rgba(0, 255, 0,0.7);
  border-radius: 10px;
}

.azul{
	background-color: rgb(82,82,82,0.7) !important;
  border-radius: 10px;
}

#trading{
  width: 81%;
  position: relative;
  margin-top: -23%;
  margin-left: 9%;
  border-radius: 10px;
  height: 70px;
  background-color: rgb(82,82,82,0.7) !important;
}

#container {
  position: relative;
  width: 50%;
}

.image {

  border-radius: 50%;
  margin-top: 4%;

  opacity: 1;
  display: block;
  width: 180px !important;
  height: 180px !important;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  border-radius: 10px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#container:hover .image {
  opacity: 0.3;
}

#container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: rgba(255, 248, 0,1);
}

.card2{
  width: 101%;
  height: 500px;
  margin-top: 1%;
  margin-left: -1%;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card3{
  width: 100%;
  height: 240px; 
  margin-left: 0%;  
  margin-top: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5) !important;
}

/*///////////////////////*/

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFF800;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3, .links, .remember{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFF800;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFF800;
width: 140px;
}

.login_btn:hover{
color: black;
background-color: white;
width: 140px;
}

.links a{
margin-left: 4px;
color: #FFF800;
}

.img-fluid:hover{
	transform: scale(1.008,1.008);	
}

/* LG */
@media screen and (max-width: 1199px){
  #trading{
  margin-top: -25%;
  margin-left: 8.5%;
  }

  .card3{
    margin-top: 10%;
    height: 217px;
  }

  /*.image{
    height: 150px !important;
  }*/

}

/* MD */
@media screen and (max-width: 1000px){

  p{
    font-size: 80%;
  }

  .text{
    margin-top: -80%;
  }

  .card3{
    margin-top: 3%;
    height: 150px;
  }

  .card2{
    height: 420px;
  }

  #trading{
  margin-top: -40%;
  margin-left: 12%;
  }

  /*.image{
    height: 110px !important;
  }*/
}

/* SM */
@media screen and (max-width: 767px){

  .azul{
    position: relative;
    margin-left: -5%;
  }

  p {
    font-size: 100%;
  }

  .gris{
    margin-left: 0%;
  }

  .card2{
    margin-top: 5%;
    height: 350px;
  }

  .card3{
    margin-top: 126%;
    margin-left: -4%;
    height: 330px;
  }

  #trading{
  margin-top: 63%;
  margin-left: 9%;
  }

  /*.image{
    width: 150px !important;
  }*/
  
}

/* XS */
@media screen and (max-width: 575px){

  .azul{
    margin-left: 40%;
    width: 130%;
  }

  p {
    font-size: 100%;
  }

  .gris, .amarillo, .rojo, .verde{
    margin-left: 6%;
  }

  .card2{
    margin-left: 5%;
  }

  .card3{
    margin-top: 145%;
    margin-left: 0%;
    height: 350px;
  }

  .text{
    width: 100%;
    margin-left: 100%;
  }

  #trading{
  margin-top: 102%;
  margin-left: 7%;
  }

}
