body{
	margin-top: 0px;
	background-image: url('../img/fondo1.png');
}

#amarillo{
	margin-bottom: -1%;
	background-color: #FFF800;
}

.table-responsive{
	background-color: white;
}

#blanco{
	margin-left: 0%;
	margin-right: 0%;
	background-color: black;
}

#uno{
	color: grey;
	margin-top: 10%;
	text-align: center;
}

#dos{
	color: white;
	margin-top: -30px;
	text-align: center;
}

td, tr{
	color: black;
	text-align: center;
}

#boton_capital{
	left: -1%;
	top: 10px;
	width: 100%;
	color: black;	
	position: relative;
	background-color: yellow;
}

#btnAgregarCapital{
	color: black;
	position: relative;
	border-radius: 10px;
	width: 40%;
	top: 10px;
	background-color: #FFF800;
}

.btn-secondary{
	margin-left: -0.5% !important;
}

#btn_agregar{
	left: 83%;
	width: 8%;
	height: 40px;
	position: relative;
	border-radius: 10px;
	background-color: #FFF800;
}

.btn-secondary{
	background-color: grey !important;
}

.close, .text-warning{
	color: #FFF800 !important;
}

#card_registro{
	margin: auto;
	width: 18rem;
	height: 25rem;
	color: #484848;
	position: relative;
	text-align: justify;
}
/* BARRA DE NAVEGACION */

.card{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.7) !important;
}

.social_icon span{
	font-size: 60px;
	margin-left: 10px;
	color: #FFF800;
}

.social_icon span:hover{
	color: white;
	cursor: pointer;
}

.card-header h3{
	color: white;
}

.social_icon{
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span{
	width: 50px;
	background-color: #FFF800;
	color: black;
	border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
	color: white;
}

.remember input
{
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn{
	color: black;
	background-color: #FFF800;
	width: 140px;
}

.login_btn:hover{
	color: black;
	background-color: white;
	width: 140px;
}

.links{
color: white;
}

.links a{
	margin-left: 4px;
	color: #FFF800 !important;
}

.img-fluid:hover{
  transform: scale(1.008,1.008);  
}
