
/*---------------------------*/

#top{
  margin-top: 100px;
  margin-bottom: 100px; 
}

body{
  background-image: url('../../img/fondo1.png');
}

video{
  width: 535px;
  height: 300px;
}

#verde{
  /*background-color: rgba(45, 204, 42, 1);*/
  background-color: #FFF800;
}

.centrado{
  background-color: rgba(255, 248, 0, 0.5);
}

#fondoBlanco{
  background-color: white;
}

.parrafo{
  padding-top:  5%;
  font-size: 120%;
  color: black;
  text-align: justify;
}

.contenedor{
    margin-left: -4%;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

#izq{
  color: white;
  text-align: left;
}

#der{
  border-right-color: rgba(1, 1, 1, 0.5);
  border-right-width: 1px;
  color: black;
  text-align: right;
}

.centrado{
  top: 84.2%;
  left: 52.5%;
  width: 105%;
  font-size: 120%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.social{
	width:48px;
	position:fixed;
	top:50px;
	right:0;
}

.social{
	top:50%;
	height:205px;
	margin-top:-100px;
}


/* LG */
@media screen and (max-width: 1199px){
  video{
    width: 440px;
    height: 275px;
  }

  #top{
    margin-bottom: 50px; 
  }
}

/* MD */
@media screen and (max-width: 1000px){
  video{
  width: 380px;
  }

  .centrado{
  top: 86%;
  left: 54%;
  width: 112%;
  font-size: 100%;
  }

  h1{
    text-align: center;
  }

  .imagen{
    margin-top: 10px;
  }

  #top{
    margin-top: 50px; 
  }
  
  
}

/* SM */
@media screen and (max-width: 767px){
  video{
  width: 100%;
  } 

  img{
    width: 106%;
    margin-left: 1%;
  }

  .centrado{
  top: 86%;
  left: 54%;
  width: 100%;
  } 

  .imagen{
    margin-top: 20px;
  }
}



/* XS */
@media screen and (max-width: 575px){
  .centrado{
  top: 86%;
  left: 54%;
  width: 0px;
  } 

  .centrado p{
    font-size: 0px;
  }

  .imagen{
    margin-top: 40px;
  }

  #top{
    margin-top: 0px; 
    margin-bottom: 0px;
  }

}

/* BARRA DE NAVEGACION */
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 120px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.img-fluid:hover{
  transform: scale(1.008,1.008);  
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}